/* Primary: #9cbdca */
/* Secondary: #7ddcff */
/* Accent:  */
@font-face{
    src: url('../fonts/Lato-Regular.ttf');
    font-family: 'Lato';
}
body{
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Lato, sans-serif;
}
header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.logo{
    width: 200px;
}
nav a:link,
nav a:visited{
    padding: 8px;
    text-decoration: none;
    color: #9cbdca;
    font-size: 120%;
}
nav a:hover,
nav a:active,
nav a.active{
    color: #7ddcff;
}

h3{
    font-size: 160%;
    margin: 0 0 12px 0;
}
/***
 * MAIN SECTION 
 */
.main-section{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    width: 90%;
} 
.main-section aside{
    width: 20%;
    border: 1px solid #bce8f1;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 8px;
}
.main-section aside header{
    color: #31708f;
    background-color: #d9edf7;
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.main-section aside .list div{
    padding: 8px;
    border-bottom: 1px solid #bce8f1;
}
/* .main-section aside .list div:last-of-type{
    border-bottom: none;
} */
.main-section aside .list div:last-child{
    border-bottom: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.main-section aside .list div:hover,
.main-section aside .list div.active{
    background-color: #eee;
}
.badge{
    color: #fff;
    background-color: #444;
    border-radius: 20px;
    padding: 0 6px;
    /* font-size: 95%; */
    float: right;
}
.main-section main{
    width: 80%;
    padding-bottom: 25px;
}

/************************************/
            /* SIGN UP FORM */
/************************************/
.section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.section .form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    width: 400px;
    border-radius: 0;
}
.section .form .logo{
    margin-bottom: 35px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section .form article{
    margin-bottom: 12px;
}

.section .form article:last-of-type{
    margin-top: 16px;
    text-align: center;
}

.section .form article label{
    font-size: 115%;
    font-weight: bold
}
.section .form article .form-input{
    display: block;
    padding: 10px 6px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #eee;
    outline: none;
    margin-top: 6px;
}

.section .form p{
    text-align: center;
}
.section .form p a:link,
.section .form p a:visited{
    color: #444;
    text-decoration: none;
}
.btn-custom{
    background-color: #063546;
    color:white;
    padding: 10px 16px;
    border: 1px solid #9cbdca;
    transition: all .25s ease;
}
.btn-block{
    width: 100%;
}
.btn-custom:hover{
    background-color: transparent;
    color: #063546;
}


/************************************/
            /* PRODUCT */
/************************************/
.product-section a:link,
.product-section a:visited{
    text-decoration: none;
    color: #444;
}
.product-section .product{
    height: 250px;
    border: thin solid #eee;
    margin: 8px;
    width: 250px;
    position: relative;
    transition: all .25s ease;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 3px #b7b4b7;
    border-radius: 4px;
    overflow: hidden;
}
.product img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin-top: 12px;
}
.product .description{
    position: absolute;
    bottom: 0;
    padding: 8px 8px 0 8px;
    text-align: left;
    font-size: 12px;
}

.product:hover{
    box-shadow: 0 0 5px #444;
}

/************************************/
            /* PRODUCT  VIEW*/
/************************************/
.product-view{
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 45px;
}
.product-view img{
    margin-top: 4px;
    margin-bottom: 16px;
    width: 100%;
    object-fit: cover;
    border: 1px solid #eee;
}
.product-view div{
    margin: 4px 0 16px 0;
}
.product-view .description{
    font-size: 110%;
}
.custom{
    color:white;
    background-color:#FF5E14;
    border-radius: 30%;
    
}
.custom:hover{
    color:black;
    padding: 2px;
    background-color: transparent;
    border-color:#FF5E14;
}

/***
 * FOOTER
 */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 13px;
    color: #999;
}
